@import "bootstrap.min.css";
@import "animations.css";
html,body{margin:0;padding:0}
body{background-image:url("../img/groovepaper.png")}
body,h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-family:"Ubuntu","Helvetica Neue",Helvetica,Arial,sans-serif !important}
.page-header{margin-top:20px;}
.page-header h1{font-weight:700;font-size:54px}
.app__row,.site-info,.app{padding-top:20px}
.app__row{padding-bottom:30px;background-color:rgba(0,0,0,0.1)}
.site-info__tagline{font-size:30px;font-weight:500;color:#555;text-shadow:1px 1px #ccc}
.buttons{margin-top:10px}
.current-records__header{margin-top:40px}
.found-record{padding-top:20px;padding-bottom:40px;margin-bottom:20px;background-color:#428bca;border-left:6px solid #18558a;}
.found-record .found-record__title,.found-record .found-record__expiration{color:#fff}
.found-record .found-record__expiration{padding-left:20px}
.clear-record{cursor:pointer}
@media (max-width:500px){.submit-record{float:none;margin-top:5px;width:100%}
.expiration-time-buttons{width:100%;}
.expiration-time-buttons .btn-large{width:25%;padding-left:5px;padding-right:5px}
}@media (max-width:600px){.record a{overflow:hidden;max-width:200px;display:inline-block;-o-text-overflow:ellipsis;text-overflow:ellipsis}
}