@import "bootstrap-custom.css";
@import "animations.css";
html,body{margin:0;padding:0}
body{background-image:url("../img/groovepaper.png");padding-bottom:50px}
body,h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-family:"Ubuntu","Helvetica Neue",Helvetica,Arial,sans-serif !important}
.page-header{margin-top:20px;}
.page-header h1{font-weight:700;font-size:54px;display:inline-block;border:8px solid #333;padding:5px;letter-spacing:-.0625em}
.app__wrapper,.site-info,.app{padding-top:20px}
.app{padding-bottom:20px;background-color:#ddd;padding-left:20px;padding-right:20px;-webkit-border-radius:3px;border-radius:3px;border:1px solid #ccc;border-bottom-width:4px;border-bottom-color:#3071a9}
.btn.active{border:4px solid #3071a9;margin-top:-2px;-webkit-border-radius:3px !important;border-radius:3px !important}
.site-info__tagline{font-size:30px;font-weight:500;color:#555;text-shadow:1px 1px #ccc}
.buttons{margin-top:10px}
.current-records__header{margin-top:40px}
.found-record{padding:20px 20px 40px 20px;margin-bottom:20px;background-color:#428bca;border-left:6px solid #18558a;}
.found-record .found-record__title,.found-record .expiration__wrapper{color:#fff}
.found-record .expiration__wrapper{padding-left:20px}
.record--highlighted{background-color:#00529c;}
.record--highlighted a{color:#fff}
.record{-webkit-transition:1.5s background-color;-moz-transition:1.5s background-color;-o-transition:1.5s background-color;-ms-transition:1.5s background-color;transition:1.5s background-color;}
.record a{-webkit-transition:1s color;-moz-transition:1s color;-o-transition:1s color;-ms-transition:1s color;transition:1s color}
.clear-record{cursor:pointer}
@media (max-width:500px){.submit-record{float:none;margin-top:5px;width:100%}
.expiration-time-buttons{width:100%;}
.expiration-time-buttons.btn-group .btn+.btn{margin-left:0}
.expiration-time-buttons .btn-large{width:25%;padding-left:5px;padding-right:5px}
.site-info{padding-top:10px}
.site-info__tagline{font-size:24px}
.page-header h1{font-size:42px}
}@media (max-width:600px){.record__url{overflow:hidden;max-width:200px;display:inline-block;-o-text-overflow:ellipsis;text-overflow:ellipsis}
}@media (max-width: 480px){.found-record__title{font-size:26px}
.page-header{margin-top:0}
.app__wrapper{padding-left:0;padding-right:0}
.app{padding-left:15px;padding-right:15px}
}