@import "nib"
@import "bootstrap.min.css"
@import "animations.css"

// ----------------------------------------------------------------------------
// Styles
// ----------------------------------------------------------------------------

html, body
  margin 0
  padding 0

body
  background-image url('../img/groovepaper.png')

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
  font-family: "Ubuntu", "Helvetica Neue",Helvetica,Arial,sans-serif !important

.page-header 
  margin-top: 20px
  h1
    font-weight: 700
    font-size: 54px
    display: inline-block;
    border: 8px solid #333;
    padding: 5px;
    letter-spacing: -0.0625em;

.app__row, .site-info, .app
  padding-top: 20px

.app
  padding-bottom 30px
  background-color: rgba(0,0,0,0.1)
  padding-left 20px;
  padding-right 20px;

.site-info__tagline
  font-size: 30px;
  font-weight: 500;
  color: #555;
  text-shadow: 1px 1px #CCC;

.buttons
  margin-top: 10px

.current-records__header
  margin-top: 40px

.found-record
  padding: 20px 20px 40px 20px
  margin-bottom: 20px
  background-color: #428BCA
  border-left: 6px solid #18558A
  .found-record__title, .found-record__expiration
    color: #FFF
  .found-record__expiration
    padding-left: 20px;

.clear-record
  cursor: pointer

@media (max-width:500px)
  .submit-record
    float: none;
    margin-top: 5px;
    width: 100%;
  .expiration-time-buttons 
    width: 100%
    &.btn-group .btn+.btn
      margin-left: 0
    .btn-large
      width 25%
      padding-left 5px
      padding-right 5px

@media (max-width:600px)
  .site-info
    padding-top 10px
  .site-info__tagline
    font-size 24px
  .record a
    overflow: hidden;
    max-width: 200px;
    display: inline-block;
    text-overflow: ellipsis;