@import "nib"
@import "bootstrap-custom.css"
@import "animations.css"

// ----------------------------------------------------------------------------
// Styles
// ----------------------------------------------------------------------------

html, body
  margin 0
  padding 0

body
  background-image url('../img/groovepaper.png')
  padding-bottom 50px

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
  font-family: "Ubuntu", "Helvetica Neue",Helvetica,Arial,sans-serif !important

.page-header 
  margin-top: 20px
  h1
    font-weight: 700
    font-size: 54px
    display: inline-block;
    border: 8px solid #333;
    padding: 5px;
    letter-spacing: -0.0625em;

.app__wrapper, .site-info, .app
  padding-top: 20px

.app
  padding-bottom 20px
  background-color: #ddd
  padding-left 20px;
  padding-right 20px;
  border-radius: 3px;
  border: 1px solid #CCC;
  border-bottom-width: 4px
  border-bottom-color: #3071A9

.btn.active
  border: 4px solid #3071A9;
  margin-top: -2px;
  border-radius: 3px !important

.tagline
  font-size: 30px;
  font-weight: 500;
  text-shadow: 1px 1px #aaa;
  line-height: 1.2;
  margin-bottom: 20px;

.buttons
  margin-top: 10px

.current-records__header
  margin-top: 40px

.found-record
  padding: 20px 20px 40px 20px
  margin-bottom: 20px
  background-color: #428BCA
  border-left: 6px solid #18558A
  .found-record__title, .expiration__wrapper
    color: #FFF
  .expiration__wrapper
    padding-left: 20px;

.record--highlighted
  background-color #00529C
  a
    color: white

.record
  transition 1.5s background-color
  a
    transition 1s color

.clear-record
  cursor: pointer

.site-info__faq
  transition max-height 0.5s
  max-height:150px
  overflow hidden
  margin-bottom 20px
  position: relative
  &.expanded
    max-height 500px
    .site-info__faq__item__answer
      whitespace normal
    .site-info__faq__item__question
      color: #333

.site-info__faq__show-more
  position absolute
  width 100%
  bottom 0
  left 0
  height 20px
  background-color rgba(187, 187, 187, 0.7)
  text-align center
  line-height 18px
  cursor: pointer
  &:hover
    background-color #bbb

.site-info__faq__item
  margin-bottom 10px

.site-info__faq__item__question
  color: #999
  font-weight bold
.site-info__faq__item__answer
  color #999  
  whitespace: nowrap
  overflow hidden
  text-overflow ellipsis

@media (max-width:500px)
  .submit-record
    float: none;
    margin-top: 5px;
    width: 100%;
  .expiration-time-buttons 
    width: 100%
    &.btn-group .btn+.btn
      margin-left: 0
    .btn-large
      width 25%
      padding-left 5px
      padding-right 5px
  .site-info
    padding-top 10px
  .tagline
    font-size 24px
  .page-header h1 
    font-size 42px

@media (max-width:600px)
  .record__url
    overflow: hidden;
    max-width: 200px;
    display: inline-block;
    text-overflow: ellipsis;

@media (max-width: 480px)
  .found-record__title
    font-size 26px
  .page-header
    margin-top 0
  .app__wrapper
    padding-left 0
    padding-right 0
  .app
    padding-left 15px
    padding-right 15px
